* {
    box-sizing: border-box;
    transition: all 0.5s linear;
}

html {
    font-size: 62.5%;
    scroll-padding-top: 90px;
}

body {
    font-size: 1.6rem;
    font-family: sans serif;
}

html,
body {
    scroll-behavior: smooth;
    font-family: "Public Sans", sans-serif;
}

:root {
    --primary-color: #143c3c;
    --text-color-black-gray: #575d5e;
}
/* Css common */

a {
    text-decoration: none;
    color: inherit;
}

button {
    outline: none;
    background: transparent;
    border: none;
}

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    display: inline-block;
    min-width: 173px;
    --height: 57px;
    height: var(--height);
    line-height: var(--height);
    padding: 0 12px;
    border-radius: 40px;
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    /* font */
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    cursor: pointer;
}

.btn:hover {
    background: #fff;
    color: var(--primary-color);
    border: 1px solid currentColor;
}

.row {
    display: flex;
}

.font-heading {
    position: relative;
    color: #152427;
    font-family: poppins;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24; /* 123.81% */
}

.font-desc {
    color: #7d8188;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62; /* 162.5% */
}

.start-title {
    position: relative;
    margin-left: 46px;
    font-family: Poppins;
    color: #152427;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62; /* 162.5% */
}

.start-title::before {
    position: absolute;
    top: 12px;
    left: -46px;
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background: #152427;
}

/* Header fixed */

.header__fixed {
    padding-top: 15px;
    position: sticky;
    top: -15px;
    z-index: 1;
    background: #fff;
}

.header__inner {
    display: flex;
    align-items: center;
}

.nav {
    margin-left: auto;
    display: flex;
    gap: 8px;
}

.header__inner--top {
    padding: 13px 0;
}

.nav__title {
    display: inline-block;
    padding: 15px;
    color: var(--text-color-black-gray);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56; /* 155.556% */
    transition: 0.25s linear;
}

.nav__title:first-child {
    position: relative;
    color: #152427;
    font-weight: 600;
}

.nav__title:first-child::after {
    position: absolute;
    content: "";
    bottom: -13px;
    left: 15px;
    display: inline-block;
    width: 16px;
    height: 2px;
    background: var(--primary-color);
}

.nav__title + .nav__title:hover {
    color: #152427;
    font-weight: 600;
}

.header__btn {
    margin-left: 73px;
}

.header__line {
    width: 100%;
    height: 1px;
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
}

/* Hero content */

.hero {
    margin-top: 60px;
    padding-bottom: 88px;
}

.hero__content {
    max-width: 35%;
}

.hero__title {
    margin-top: 43px;
    max-width: 368px;
    color: #152427;
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2; /* 120% */
}

.hero__desc {
    margin-top: 20px;
    max-width: 341px;
    color: #575d5e;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56; /* 155.556% */
}

.hero__action {
    margin-top: 42px;
    display: flex;
    align-items: center;
    gap: 43px;
}

.hero__icon {
    position: relative;
    display: flex;
    align-items: center;
}

.hero__icon-ell {
    position: absolute;
    top: -8px;
    left: -7px;
}

.hero__watch-video {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.watch-video__text {
    margin-left: 15px;
    color: #152427;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

/* Hero image */
.hero__img {
    position: relative;
    max-width: 65%;
    padding-left: 76px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}

.hero__img-position::before {
    position: absolute;
    top: 50%;
    left: 0;
    left: calc(50% + 30px);
    transform: translate(-50%, -50%);
    content: "";
    display: inline-block;
    width: 340px;
    height: 340px;
    border-radius: 50%;
    background: #4dbb9a;
    filter: blur(137px);
    z-index: -1;
}

.hero__img-thumb {
    display: block;
    width: 100%;
    height: 466px;
    object-fit: cover;
    border-radius: 110px;
}

.hero__img-thumb--1 {
    grid-row: 1/2;
}

.hero__img-thumb--1:hover {
    cursor: pointer;
}

.hero__img-thumb--2 {
    margin-top: 77px;
    grid-column: 2/3;
    grid-row: 1/2;
}

.hero__img-thumb--3 {
    grid-column: 3/4;
    grid-row: 1/2;
}

.position__flower--top {
    position: absolute;
    top: -25px;
    left: -131px;
}

.position__line--top {
    position: absolute;
    top: -26px;
    left: -85px;
}

.position__flower--bottom {
    position: absolute;
    bottom: -40px;
    right: 5px;
}

.position__line--bottom {
    rotate: -180deg;
    position: absolute;
    bottom: -43px;
    right: 50px;
}

/* Branch */
.branch {
    margin-top: 42.31px;
}

.branch__wrap {
    padding: 56px 101px;
    border-radius: 100.5px;
    background: #e2eddf;
}

.branch__row {
    align-items: center;
    justify-content: space-between;
}

.branch__logo {
    display: block;
    padding: 20px;
}

.branch__logo:hover:not(.branch__logo--agward) {
    transform: scale(1.1);
}

.branch__logo--row-3 {
    display: flex;
    align-items: center;
    gap: 11px;
}

.branch__logo--row-3:hover {
    scale: 1.1;
}

.branch__logo--agward {
    padding-right: 0;
}

.logo__name {
    font-family: Poppins;
    font-weight: 400;
    font-size: 2.6rem;
    color: #163c35;
}

/* Services */
.services {
    margin-top: 90px;
    padding-top: 16px;
}

.services__row {
    align-items: center;
    margin-top: 2px;
    gap: 422px;
}

.services__font-heading {
    position: relative;
    max-width: 520px;
}

.services__font-heading::after {
    position: absolute;
    bottom: 19px;
    right: 103px;
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background: #152427;
}

.services__transfer {
    display: flex;
    gap: 17px;
}

.transfer__left,
.transfer__right {
    cursor: pointer;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background: #e2eddf;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-right {
    color: #152427;
    transition: 0.25s ease;
}

.arrow-left {
    rotate: 180deg;
    color: #152427;
    transition: 0.25s ease;
}

.transfer__left:hover,
.transfer__right:hover {
    background: #143c3c;
}

.transfer__left:hover .arrow-right,
.transfer__right:hover .arrow-left {
    color: #fff;
}

.course__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    margin-top: 76px;
}

.course__specific {
    border-radius: 20px;
    position: relative;
}

.course__specific:hover {
    background: #fff;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.course__specific:hover .course__content {
    transform: translateX(18px);
}

.course__wrap-img {
    height: 318px;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
}

.course__specific:hover .course__img {
    scale: 1.1;
}

.course__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.course__content {
    padding: 20px 102px 23px 0;
}

.course__name {
    color: #152427;
    font-family: Poppins;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.course__name-link {
    display: inline-block;
    padding: 4px 12px 4px 0;
}

.course__desc {
    margin-top: 14px;
    color: #7d8188;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71; /* 171.429% */
}

/* Information */
.info {
    margin-top: 140px;
    padding-top: 9px;
}

.info__row {
    display: flex;
    gap: 64px;
}

.info__img {
    position: relative;
    display: flex;
    max-width: 598px;
    gap: 21px;
}

.info__image {
    display: block;
    width: 284px;
    height: 480px;
    object-fit: cover;
    border-radius: 210px;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.info__image--1 {
    margin-top: 90px;
}

.info__image--2 {
    margin-top: 13px;
}

.info-position__flower--top {
    position: absolute;
    top: -8px;
    left: 57px;
}

.info-position__line--top {
    position: absolute;
    top: -8px;
    left: 103px;
}

/* info position */
.info__position {
    position: absolute;
    bottom: 8px;
    right: -9px;
    padding: 19px 23px 11px;
    width: 143px;
    height: auto;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
}

.info__position:hover {
    scale: 1.5;
}

.info__position__title {
    color: #152427;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.info__position__subtitle {
    margin-top: 6px;
    color: #575d5e;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4; /* 140% */
}

.info__position__progress {
    position: relative;
    margin-top: 10px;
    color: #152427;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4; /* 140% */
}

.info__position__progress::after {
    position: absolute;
    bottom: -3px;
    left: 0;
    content: "";
    display: inline-block;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background: #eaeaea;
}

.info__position__progress::before {
    z-index: 1;
    position: absolute;
    bottom: -3px;
    left: 0;
    content: "";
    display: inline-block;
    width: 40px;
    height: 2px;
    border-radius: 10px;
    background: #83a17d;
}

.info__position__loading {
    margin-top: 8px;
    margin-left: 57px;
    color: #152427;
    font-size: 1rem;
    font-weight: 500;
}

.info__position__circle {
    margin-top: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #eaeaea;
}

.circle-inner {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #143c3c;
}

.info__position__teams {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .teams {
        color: #152427;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.4; /* 140% */
    }

    .team__avt {
        display: flex;
        align-items: center;
    }
}

.team__avt-img {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #fff;
    margin-right: -6px;
}

.info__content-heading {
    margin-top: 20px;
}

.info__content-heading::after {
    display: none;
}

.info__content-desc {
    margin-top: 11px;
}

.info__status-desc {
    color: #7d8188;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71; /* 171.429% */
}

.info__status {
    padding-right: 7px;
    display: flex;
    align-items: center;
    flex-shrink: 1;
    gap: 24px;
    margin-top: 36px;
    padding-bottom: 20px;
    border-bottom: 1px solid #83a17d;
}

.info__status--row-2 {
    margin-top: 38px;
}

/* Process */
.process {
    margin-top: 79px;
    padding-top: 36px;
}

.process__heading {
    position: relative;
    margin-top: 20px;
    max-width: 477px;
}

.process__heading::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background: #152427;
    bottom: 19px;
    right: -2px;
}

.process__step {
    margin-top: 106px;
    display: grid;
    grid-template-rows: repeat(3, 160px);
}

.step__list {
    position: relative;
    display: flex;
    align-items: center;
}

.step__list::after {
    position: absolute;
    bottom: -2px;
    content: "";
    display: inline-block;
    width: 1131px;
    height: 3px;
    background: linear-gradient(
        180deg,
        #83a17d 4.17%,
        rgba(131, 161, 125, 0) 36.46%
    );
}

.step__list:hover {
    position: relative;
    border-radius: 33px;
    background: #e2eddf;
    height: 185px;
}

.step__img {
    position: absolute;
    bottom: 0;
    right: 92px;
    width: 450px;
    height: 444px;
    object-fit: cover;
    display: none;
    transition: 0.25s linear;
}

.step__number {
    color: #143c3c;
    font-family: Poppins;
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 0.72; /* 72.222% */
}

.step__hover-link {
    margin-left: 49px;
}

.step__title {
    color: #152427;
    font-family: Poppins;
    font-size: 2.2rem;
    font-style: normal;
    line-height: 1; /* 100% */
    white-space: nowrap;
}

.step__desc {
    margin-left: auto;
    margin-right: 41px;
    max-width: 572px;
    color: #7d8188;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56; /* 155.556% */
}

.step__link {
    margin-top: 22px;
    color: #575d5e;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1; /* 100% */
    display: none;
}

.step__list:hover .step__link,
.step__list:hover .step__img {
    display: inline-block;
}

.step__list:hover .step__link {
    text-decoration: underline;
}

.step__list:hover .step__desc,
.step__list:hover::after {
    display: none;
}

/* video */
.video {
    margin-top: 148px;
    padding: 116px 0 63px;
    background: #143c3c;
}

.video__inner {
    position: relative;
}

.video__row-inner {
    gap: 93px;
    align-items: center;
}

.video__heading {
    max-width: 457px;
    color: #e7f9f9;
    font-family: Poppins;
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 5.2rem; /* 123.81% */
}

.video__heading::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background: #83a17d;
    bottom: 20px;
    right: 97px;
}

.video__cta-desc {
    max-width: 590px;
    color: #6a8383;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56; /* 155.556% */
}

.video__cta-link {
    display: flex;
    align-items: center;
    gap: 26px;
    margin-top: 13px;
}

.cta-link__title {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56; /* 155.556% */
}

.cta-link__arrow {
    color: #80a07b;
}

.video-flower {
    position: absolute;
    top: 90px;
    right: -40px;
}

.video-line {
    position: absolute;
    top: 40px;
    right: -145px;
    rotate: 85deg;
    transform: scaleX(-1);
}

.video__clip {
    margin-top: 65px;
    display: block;
    width: 100%;
    height: 544px;
    object-fit: cover;
    border-radius: 22px;
}

/* feature */
.feature {
    margin-top: 140px;
    text-align: center;
}

.feature__heading,
.feature__desc {
    margin: 0 auto;
}

.feature__heading {
    max-width: 520px;
}

.feature__desc {
    margin-top: 20px;
    max-width: 547px;
}

.feature__item {
    margin-top: 103px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 45px;
    justify-content: center;
    align-items: center;
}

.feature__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 362px;
    border-radius: 160px;
    border: 1.5px solid #cecece;
    overflow: hidden;
}

.feature__list:hover {
    border-color: transparent;
    border-radius: 160px;
    background: #fff;
    box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.2);
    transform: translateY(-59px);
}

.feature-item__title {
    margin-top: 26px;
    color: #152427;
    font-family: Poppins;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.feature-item__desc {
    max-width: 286px;
    margin-top: 9px;
    color: #7d8188;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71; /* 171.429% */
}

/* Blog and article */
.blog {
    margin-top: 180px;
    padding-top: 4px;
}

.blog__heading {
    margin-top: 12px;
    max-width: 520px;
}

.blog__heading::after {
    position: absolute;
    bottom: 19px;
    right: -55px;
    content: "";
    display: inline-block;
    width: 82px;
    height: 3px;
    background: #152427;
}

.blog-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 211px;
}

.blog__desc {
    color: #7d8188;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.63; /* 162.5% */
}

/* article  */
.blog__article {
    display: flex;
    flex-grow: 1;
    column-gap: 30px;
}

.article {
    margin-top: 90px;
    width: 100%;
    border-radius: 40px 40px 20px 20px;
    overflow: hidden;
}

.article:hover {
    background: #fff;
    box-shadow: 0px 12px 74px 0px rgba(91, 91, 91, 0.25);
}

.article:hover .article__content {
    padding-left: 30px;
    padding-right: 30px;
}

.article:hover .article__img {
    scale: 1.1;
}

.article-link__img {
    display: inline-block;
    width: 100%;
    height: 317px;
    border-radius: 40px 40px 0px 0px;
    overflow: hidden;
}

.article__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.25s ease;
}

.article__content {
    padding: 26px 14px 0 0;
    transition: 0.25s ease;
}

.article__btn {
    --height: 26px;
    min-width: 107px;
    color: #000;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    background: #e2eddf;
    border: 0;
}

.article__btn:hover {
    color: #e2eddf;
    background: var(--primary-color);
    border: none;
}

.article__desc {
    max-width: 316px;
    margin-top: 13px;
    color: #143c3c;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

.article__date {
    text-align: right;
    margin: 38px 0 12px;
    color: #575d5e;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    padding-top: 15px;
    border-top: 1px solid #c4c4c4;
    transition: ease;
}
.article:last-child .article__date {
    margin-top: 68px;
}

/* footer */
.footer {
    margin-top: 102px;
    padding: 72px 0 25px;
    background: var(--primary-color);
}

.footer-inner__grid {
    display: grid;
    grid-template-columns: 58.95% 10.7% 11.58% 11.32% 7.45%;
    align-items: center;
}

.sign-up__heading {
    color: #fff;
    font-family: Poppins;
    font-size: 3.2rem;
    font-weight: 500;
}

.sign-up__email {
    position: relative;
    margin-top: 25px;
}

.input-email {
    width: 354px;
    height: 59px;
    background: transparent;
    outline: none;
    border: none;
    color: #6a8383;
    font-family: Poppins;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 59px; /* 100% */
    padding: 0 45px 36px 0px;
    border-bottom: 1px solid #6a8383;
}

.input-email:placeholder-shown {
    color: #6a8383;
    font-family: Poppins;
    font-size: 2.2rem;
    font-weight: 600;
}

.sign-up__arrow {
    position: absolute;
    display: inline-block;
    padding: 10px 15px;
    top: 0;
    left: 300px;
}

.error__email {
    color: #fff;
    font-family: poppins;
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
    visibility: hidden;
    text-decoration: wavy;
}

.input-email:invalid:not(:placeholder-shown) + .error__email {
    visibility: visible;
}

.footer__social {
    margin-top: 18px;
    display: flex;
    align-items: center;
    gap: 22px;
}

.social__inner {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 1px solid #fbfbfb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-inner__inst {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #fcfcfc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social__inner:hover {
    background: #a75325;
    border-color: #a75325;
}

.footer__list {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56; /* 155.556% */
    padding-bottom: 6px;
}

.footer__item {
    color: #6a8383;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.25; /* 225% */
}

.footer__item:first-child {
    margin-top: 6px;
}

.footer__item:hover {
    opacity: 0.9;
    text-decoration: underline;
    text-underline-offset: 3px;
}

.footer__line {
    margin-top: 45px;
    width: 100%;
    height: 1px;
    background: linear-gradient(
        90deg,
        #143c3c 2.28%,
        #295a5a 55.65%,
        rgba(38, 82, 82, 0) 102.06%
    );
}

.footer__coppy-right {
    margin-top: 25px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.8;
    color: #fff;
}
